.main {
  width: 98%;
  margin: 1em auto 0 auto;
  padding: 0.4em;
}
.divBtns {
  padding: 0.2em;
  max-width: 690px;
  margin: 0 auto 1em auto;
  display: flex;
  justify-content: space-between;
}

.btnBack {
  border-radius: 50%;
  border: 1px solid blue;
  font-weight: bold;
  background-color: navy;
  display: block;
  width: 40px;
  height: 40px;
  color: #ffffff;
}

.btnAdd {
  border-radius: 50%;
  border: 1px solid blue;
  font-weight: bold;
  background-color: navy;
}
.fa-plus {
  color: #ffffff;
  margin: 1em;
}
.contact {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 10px auto;
  width: 100%;
  max-width: 600px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.contact__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em;
  background-color: lavender;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.contact__div:first-child {
  width: 85%;
  margin-right: 5px;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}
.contact__div:last-child {
  width: 30%;
  justify-content: space-around;
  max-width: 94px;
}
.logo {
  text-align: center;
  font-weight: bold;
  padding-top: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 20px;
  background-color: navy;
  color: #ffffff;
}
.fa-pen {
  color: #2ecc3b;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 8px;
  outline: none;
}

.fa-trash {
  color: red;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 8px;
  outline: none;
}

.info {
  text-align: center;
}
.btnAdd,
.btnBack {
  outline: none;
}
@media only screen and (min-width: 709px) {
  .btnAdd,
  .btnBack {
    cursor: pointer;
    z-index: 10;
  }

  .btnAdd:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
  }

  .btnAdd:hover .fa-plus {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
  }
  .fa-pen,
  .fa-trash {
    cursor: pointer;
  }
}
